@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Righteos";
    src: url("/fonts/Righteous.ttf") format("truetype");
}

@font-face {
    font-family: "shabnam";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Shabnam/Shabnam.ttf") format("truetype"),
        url("/fonts/Shabnam/Shabnam.eot"),
        url("/fonts/Shabnam/Shabnam.woff") format("woff"),
        url("/fonts/Shabnam/Shabnam.woff2") format("woff2");
}

html {
    font-family: "shabnam";
}

.h1-text,
.produceShadow>h1 {
    font-family: "Righteos";
}

.produceShadow {
    position: relative;
}

.produceShadow>img {
    position: relative;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.produceShadow>h1 {
    font-size: large;
    margin-top: 10px;
}

.produceShadow:hover>img,
.produceShadow:hover>img:hover {

    transform: scale(1.3);
    top: -10px;

}

.produceShadow:not(:hover)>img {

    transform: scale(1);
    top: 0;
}

.background-animation {
    background-size: 400%;

    -webkit-animation: gradientCh 1s ease infinite;
    -moz-animation: gradientCh 1s ease infinite;
    animation: gradientCh 1s ease infinite;
}

.fa-instagram:hover {
    background: no-repeat;
    background: linear-gradient(45deg, pink 10%, purple 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-phone:hover {
    background: no-repeat;
    background: linear-gradient(45deg, lightgreen 10%, darkgreen 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github:hover {

    background: no-repeat -webkit-linear-gradient(45deg, gray 10%, darkgray 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


